<ion-view view-title="Notas">

  <ion-nav-buttons side="secondary">
      <button class="button icon ion-refresh" ng-click="cargarNotas()"></button>
    <button class="button icon ion-plus-round" ng-click="global.showForm = !global.showForm"></button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="true">

    <div ng-init="global.showForm = false" ng-show="global.showForm">
      <form ng-submit="agregarNota()" class="padding-top padding-left padding-right">
        <div class="list">
          <label class="item item-input">
            <textarea name="comentario" ng-model="nota.comentario" placeholder="Nueva nota"></textarea>
          </label>
          <button type="submit" name="button" class="button button-positive button-block" ng-disabled="!global.btnGuardarEnabled">Guardar</button>
        </div>
      </form>
    </div>

    <ion-list>
      <ion-item ng-repeat="nota in notas" class="item item-no-border">
        <div class="item item-divider item-fecha">{{ nota.fechaCreated }}</div>
        <div class="item item-text-wrap">{{ nota.comentario }}</div>
        <div class="item item-divider assertive" ng-click="archivarNota(nota)"><i class="icon ion-archive"></i> Archivar</div>
      </ion-item>
    </ion-list>

    <div class="text-center padding" ng-show="!notas.length">
      No hay notas
    </div>

  </ion-content>
</ion-view>
