<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

  <ion-tab title="Tareas" ui-sref="tab.tareas">
    <ion-nav-view name="tab-tareas"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Notas" ui-sref="tab.notas">
    <ion-nav-view name="tab-notas"></ion-nav-view>
  </ion-tab>

</ion-tabs>
