<ion-view view-title="Eliminar Tarea #{{tarea.id}}">
    <ion-content>

        <div class="row">
            <div class="col col-offset-33"><img ng-src="{{tarea.foto}}" style="width:100%;max-widht:100%"></div>
            <div class="col"></div>
        </div>

        <form ng-submit="eliminarTarea()">
            <div class="list">

                <label class="item item-input  item-stacked-label">
                    <span class="input-label">Razón Eliminación</span>
                    <input type="text" ng-model="tarea.observacionesRealizada" />
                </label>

                <label class="item item-input item-select">
                    <span class="input-label">Persona responsable</span>
                    <select ng-model="tarea.personaEliminada" ng-options="persona.id as persona.nombre for persona in global.personas">
                        <option value="" ng-if="false"></option>
                    </select>
                </label>

                <div class="padding"><button type="submit" class="button button-assertive button-full">OK, Eliminar!</button></div>

            </div>
        </form>

    </ion-content>
</ion-view>
