<ion-view view-title="Modificar Tarea #{{tarea.id}}">
    <ion-content>

        <div class="row">
            <div class="col col-offset-33"><img ng-src="{{tarea.foto}}" style="width:100%;max-widht:100%"></div>
            <div class="col"></div>
        </div>

        <form ng-submit="modificarTarea()">
            <div class="list">

                <label class="item item-input  item-stacked-label">
                    <span class="input-label">Comentario</span>
                    <input type="text" ng-model="tarea.comentario" />
                </label>

                <label class="item item-input item-select">
                    <span class="input-label">Prioridad</span>
                    <select ng-model="tarea.prioridad" ng-options="prioridad.value as prioridad.nombre for prioridad in global.prioridades">
                        <option value="" ng-if="false"></option>
                    </select>
                </label>

                <ion-multiple-select title="Seleccione las personas asignadas" options="global.personas" key-property="id" value-property="nombre" selected-property="selected" class="item item-input item-icon-right">
                    <span class="input-label">Personas asignadas</span>
                    <i class="icon ion-android-arrow-dropdown"></i>
                </ion-multiple-select>
                <p class="padding" ng-if="global.personas">{{ getOptionsSelected(global.personas, 'nombre', 'selected') }}</p>

                <ion-toggle ng-model="tarea.diaDeLluvia" toggle-class="toggle-balanced">Tarea para día de Lluvia</ion-toggle>

                <div class="padding"><button type="submit" class="button button-positive button-full">Guardar</button></div>

            </div>
        </form>

    </ion-content>
</ion-view>
