/* Empty. Add your own CSS if you like */
.tabs-striped .tab-item {
    margin-top: 1px;
    font-size: 12px;
    font-weight: bold;

}

.tabs-striped .tab-item.tab-item-active,
.tabs-striped > .tabs
{
    text-transform: uppercase;
    font-size: 12px;
}

.item-fecha {
  font-size: 15px;
}
.item-no-border {
  border: none;
}

.pull-right {
    float: right;
}
