<ion-view view-title="Tareas">

    <ion-nav-buttons side="secondary">
        <button class="button icon ion-refresh" ng-click="cargarTareas()"></button>
        <button class="button icon ion-plus-round" ng-click="showForm()"></button>
    </ion-nav-buttons>

    <ion-content>
        <div class="padding" ng-init="global.showForm = false" ng-show="global.showForm">
            <form ng-submit="agregarTarea()" >
                <div class="list">
                    <button type="button" name="button" class="button button-stable button-block icon-left ion-android-camera" ng-click="tomarFoto()">Tomar Foto</button>
                </div>
                <div class="list">
                    <label class="item item-input">
                        <textarea name="comentario" ng-model="tarea.comentario" placeholder="Descripción"></textarea>
                    </label>
                </div>
                <div class="list">
                    <label class="item item-input item-select positive">
                        <div class="input-label">Prioridad</div>
                        <select ng-model="tarea.prioridad">
                            <option value="1">Baja</option>
                            <option value="2">Media</option>
                            <option value="3">Alta</option>
                        </select>
                    </label>
                </div>
                <div class="list">
                    <button type="submit" name="button" class="button button-positive button-block" ng-disabled="!global.btnGuardarEnabled" ng-bind="global.btnGuardar"> Guardar</button>
                </div>
            </form>

            <img ng-src="{{tarea.foto}}" style="max-width: 100%;" ng-show="tarea.foto !== undefined" />
        </div>

        <ion-list>
            <ion-item ng-repeat="tarea in tareas" class="item item-no-border">
                <div class="item item-divider item-fecha"># {{tarea.id}} - Prioridad {{tarea.prioridadToString}}</div>
                <div class="item item-image">
                    <img ng-src="{{tarea.foto}}" on-double-tap="actualizarApp()">
                </div>
                <div class="item item-text-wrap">{{ tarea.comentario }}</div>
                <div class="item item-divider">
                    <a ui-sref="tarea-eliminar({id:tarea.id})" class="button button-clear button-assertive">Eliminar</a>
                    <a ui-sref="tarea-modificar({id:tarea.id})" class="button button-clear button-positive">Modificar</a>
                    <a ui-sref="tarea-completar({id:tarea.id})" class="button button-balanced pull-right">Completar</a>
                </div>

            </ion-item>
        </ion-list>


    </ion-content>

</ion-view>
