<ion-view view-title="Completar Tarea #{{tarea.id}}">
    <ion-content>
        <div class="row">
            <div class="col col-offset-33"><img ng-src="{{tarea.foto}}" style="width:100%;max-widht:100%"></div>
            <div class="col"></div>
        </div>
        <form ng-submit="completarTarea()">
            <div class="list">
                <label class="item item-input  item-stacked-label">
                    <span class="input-label">Fecha que se ejecutó la tarea</span>
                    <input type="date" ng-model="tarea.fechaRealizada" placeholder="Definir fecha" />
                </label>
                <label class="item item-input  item-stacked-label">
                    <span class="input-label">Observaciones o comentarios</span>
                    <input type="text" ng-model="tarea.observacionesRealizada" />
                </label>
                <ion-multiple-select title="Seleccione las personas responsables" options="global.personas" key-property="id" value-property="nombre" selected-property="selected" class="item item-input item-icon-right">
                    <span class="input-label">Personas responsables</span>
                    <i class="icon ion-android-arrow-dropdown"></i>
                </ion-multiple-select>
                <p class="padding">{{ getOptionsSelected(global.personas, 'nombre', 'selected') }}</p>
                <div class="padding-left padding-right">
                    <button type="submit" class="button button-balanced button-full">¡Completar!</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
